<h1>O projekcie</h1>
<p>Projekt Perret powstał w ramach kursu Hurtownie Danych realizowanego przez Uniwersytet Ekonomiczny w Krakowie.</p>
<p>System ten pozwala w łatwy sposób wyszukiwać wszystkie możliwe terminy odrabiania zajęc uwzględniając m.in. zajęcia studentów oraz dostępność sal.</p>
<p>
  Autorzy projektu:
</p>
<ul>
  <li>Maciej Komorowski</li>
  <li>Mateusz Zając</li>
  <li>Robert Dzieża</li>
  <li>Piotr Bałut</li>
  <li>Tomasz Sowa</li>
</ul>
