<html>
<head>
  <link rel="stylesheet" href="calendar/css/calendar.css">
</head>
<body>
<h1>Available places</h1>
<div id="calendar"></div>

<script type="text/javascript" src="calendar/js/calendar.js"></script>
<script type="text/javascript">
    var calendar = $("#calendar").calendar(
            {
                tmpl_path: "/calendar/tmpls/",
                events_source: function () { return []; }
            });
</script>
</body>
</html>

<%= @places %>