<div class="row">
  <div class="col-md-6">
    <h2>Szukaj według grup dziekańskich</h2>
    <p class="lead">Wyszukuj możliwe terminy zajęć oraz sale dla wybranych grup dziekańskich</p>
    <p class="text-justify">Znajdz wszystkie wolne sale w terminie, kiedy wybrane grup dziekańskie nie mają zajęć. Idealne rozwiązanie na wyznaczenie miejsca i terminu "odrobienia" zajęć.</p>
    <p class="text-center">
      <%= link_to 'Szukaj wg grup', search_group_path, {class: 'btn btn-success'} %>
    </p>
  </div><!-- /.col-md-6 -->
  <div class="col-md-6">
    <h2>Wyszukuj według sali</h2>
    <p class="lead">Sprawdź dostępność sali w dogodnym dla siębie terminie</p>
    <p class="text-justify">Wyszukiwanie wolnych sal jeszcze nigdy nie było tak łatwe. Wystarczy, że podasz datę, a nasz system znajdzie wszystkie wolne sale.</p>
    <p class="text-center">
      <%= link_to 'Szukaj wg sali', search_room_path, {class: 'btn btn-success'} %>
    </p>
  </div><!-- /.col-md-6 -->
</div><!-- /.row -->