<div class="row">
  <div class="col-lg-12">
    <div class="well bs-component">
      <div class="form-horizontal">
      <%= simple_form_for :search_room, url: hours_path do |p| %>
          <fieldset>
            <legend>Wyszukiwarka</legend>

            <div class="form-group">
              <label class="col-lg-2 control-label">Sale: </label>
              <div class="col-lg-10">
                <%= p.input :room, placeholder: 'Wyszukaj sale', label: false, :input_html => { :id => 'roomsinput', :class => 'col-md-12' } %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Szukaj dla: </label>
              <div class="col-lg-10">
                <%= p.input :date, :class => "form-control", label: false, placeholder: Time.now.strftime("%Y-%m-%d"), :input_html => { :id => 'start_date_picker' } %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <%= p.button :submit, 'Szukaj', :class => "btn btn-primary" %>
              </div>
            </div>

          </fieldset>
      <% end %>
      </div>
    </div>
  </div>
</div>